@mixin input-style {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.2s;

  &:focus {
    border-color: $primary;
    outline: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; // モーダルの下に配置
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  display: none;
  z-index: 1000;

  .modal-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    background: white;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      h2 {
        font-size: 24px;
        font-weight: 600;
        color: #333;
      }

      .modal-header-close {
        cursor: pointer;
        color: #333;
        font-size: 20px;
        transition: color 0.2s;
        border: none;
        background: none;
        &:hover {
          color: #007bff;
        }
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 500px;
      margin: auto;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
          font-size: 14px;
          font-weight: 600;
          color: #333;
        }
      }

      .name-inputs {
        display: flex;
        gap: 8px;

        > input {
          @include input-style;
          flex: 1;
        }
      }

      .due-date-input {
        display: flex;
        align-items: center;
        overflow: hidden;

        .icon {
          padding: 10px;
          background: #f1f1f1;
          border-right: 1px solid #ccc;
        }

        > input {
          @include input-style;
        }
      }

      .username-input {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        overflow: hidden;

        .prefix {
          padding: 10px;
          background: #f1f1f1;
          border-right: 1px solid #ccc;
        }

        input {
          flex: 1;
          border: none;
          padding: 10px;
          @include input-style;
        }

        .verified-icon {
          padding: 10px;
          color: #007bff;
        }
      }

      .form-footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        .submit-button {
          padding: 10px;
          border: none;
          border-radius: 6px;
          background: darken($primary, 20%);
          color: white;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            background: darken($primary, 30%);
          }
        }

        .cancel-button {
          padding: 10px;
          border: none;
          border-radius: 6px;
          background: #f1f1f1;
          color: #333;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            background: #e1e1e1;
          }
        }
      }
    }
  }
}
