@import "variables";
.main-container {
  margin-top: 3em;
  h2 {
    padding-left: 1em;
  }
  .Board {
    margin: 2em 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    height: 70vh;
    .column {
      margin: 0;
      width: 100%;
      border-radius: 5px;
      padding: 1em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      background-color: $light-gray;
      .header-board {
        width: 100%;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .options-board {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          .options {
            &:hover {
              cursor: pointer;
            }
          }
        }
        .add {
          background-color: $light-gray;
          width: 32px;
          height: 32px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .column-add {
        height: 100%;
      }
    }
  }
}

[data-theme="dark"] .column{
  background-color: #222222 !important;
}

[data-theme="dark"] #add-todo{
  background-color: #222222 !important;
}
