@import "variables";
.main-container{
    margin-top: 3em ;
    h2{
        padding-left: 1em;
    }
    .Board{
        margin: 2em 1em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
        .column{
            width: 100%;
            border-radius: 5px;
            padding: 1em;
            display: flex;
            flex-direction: column;
            background-color: $TodoGroup;
            .header-board{
                width: 100%;
                display: grid;
                grid-template-columns: 16em 1em;
                grid-row: 1;
                .options-board{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: .7em;
                    margin-left: 4em;
                    .options{
                        margin: 0 auto;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .add{
                    border: none;
                    background-color: $TodoGroup;
                    width: 2em;
                    height: 1em;
                    &:hover{
                        cursor: pointer;
                    }
                    img{
                        max-width: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}
