@import "variables";
.main-container{
    margin-top: 1em ;
    .Board{
        margin: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .column{
            padding: 1em;
            display: flex;
            flex-direction: column;
            background-color: $TodoGroup;
            .header-board{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6em;
                .add{
                    width: 3em;
                    height: 1.4em;
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}
