// Breakpoints
$small: 600px;
$medium: 1024px;
$large: 1280px;

// Colors
// <<<<<<< HEAD
$primary: #FEC5FB;
// Colors
$TodoGroup:#DCDCDC;
$black: #000;
$white: #fff;
// =======
$primary: #fec5fb;
// >>>>>>> 4fa64c1f0f23afbc60e752c67dcd7c2fe72a791c
