---
import TodoCard from "./TodoCard.astro";
---

<section class="main-container">
    <h2>Codebreakers</h2>
    <div class="Board column">
        <div class="Todo column">
            <div class="header-board">
                <h4>Todo</h4>
                <div class="options-board">
                    <button class="add"id="add-todo"><img src="../../public/add.svg"></button>
                </div>
            </div>
            <div>
                <TodoCard>
            </div>
        </div>
        <div class="In-progress column">
            <div class="header-board">
                <h4>In Progress</h4>
                <div class="options-board">
                    <button class="add"id="add-todo"><img src="../../public/add.svg"></button>
                </div>
            </div>
        </div>
        <div class="Done column">
            <div class="header-board">
                <h4>Done</h4>
                <div class="options-board">
                    <button class="add"id="add-todo"><img src="../../public/add.svg"></button>
                </div>
            </div>
        </div>
    </div>   
</section>