---
import TodoCard from "./TodoCard.astro";
---

<section class="main-container">
    <h2>Codebreakers</h2>
    <div class="Board column">
        <div class="Todo column">
            <div class="header-board">
                <h4>Todo</h4>
                <button class="add" id="add-todo">Add</button>
            </div>
        </div>
        <div class="In-progress column">
            <div class="header-board">
                <h4>In Progress</h4>
                <button class="add" id="add-inprogress">Add</button>
            </div>
        </div>
        <div class="Done column">
            <div class="header-board">
                <h4>Done</h4>
                <button class="add" id="add-done">Add</button>
            </div>
        </div>
    </div>   
</section>