
<div class="TodoCard">
    <div class="todocard-container">
        <h4 class="title">Title</h4>
        <p>Description</p>
    </div>
    <div class="options-TodoCard">
        <img class="options" src="../../public/opts.svg" alt="">
    </div>
</div>