---
import TodoCard from "./TodoCard.astro";
---

<section class="main-conatiner">
    <div class="Board">
        <div class="Todo">
            <div>
                <h4>Todo</h4>
                <button id="add-todo">Add</button>
            </div>
        </div>
        <div class="In-progress">
            <div>
                <h4>In Progress</h4>
                <button id="add-inprogress">Add</button>
            </div>
        </div>
        <div class="Done">
            <div>
                <h4>Done</h4>
                <button id="add-done">Add</button>
            </div>
        </div>
    </div>   
</section>